<% if section_title %>
  <h2><%= section_title %></h2>
<% end %>

<div class="top-goal">

<% if section_title %>
  <%= markdown section_content %>
<% end %>

<h3><%= goal_title || "wtf" %></h3>

<div class="goal">
<h4>Goal:</h4>

<%= markdown goal || "wtf" %>

</div> <!-- goal -->

<div class="steps">
<h4>Steps:</h4>

<%= markdown steps || "wtf" %>

</div> <!-- steps -->

<div class="what">
<h4>What Just Happened?</h4>

<%= markdown explanation || "wtf" %>

</div> <!-- what -->
</div> <!-- top-goal -->

<%= nav n %>
